* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    padding-top: 80px;
    height: 100vh;
    /* max-width: 1400px;
    margin: 0 auto; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 4px #f5f5f5;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}
.menu-bar {
    display: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}


.nav-buttons {
    display: flex;
    gap: 30px;
}
.upgrade {
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #fff;
    color: black;
}
.book-a-demo {
    padding: 12px 15px;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(91.88deg,#2c57f3 .88%,#a506d8 98.71%);
}

@media only screen and (max-width: 768px) {
    body {
        height: auto;
    }

    nav {
        display: flex;
        padding: 30px 20px;
    }
    .logo-container img {
        height: 40px;
    }
    .menu-bar {
        display: block;
        cursor: pointer;
    }

    .nav-links {
        display: none;
    }

    .nav-buttons {
        display: none;
    }
}


/* AUTOMATION SECTION */
.automation-section {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    background-color: rgba(242,242,242);
    padding: 50px;
}
.automation-text-container {
    width: 60%;
    padding-top: 20px;
    height: 100%;
}

.automation-text-container h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 25px;
}

.automation-text-container p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.automation-text-container button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: rgba(14,186,197);
    font-weight: 600;
    border: none;
    background: none;
    cursor: pointer;
}

.automation-image-container {
    width: 100%;
    display: flex;
}

.automation-image-container img {
    max-width: 100%;
    height: auto;
}


@media only screen and (max-width: 992px) {
    .automation-image-container {
        display: none;
    }

    .automation-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        padding-top: 20px;
        height: 100%;
    }

    .automation-text-container h2, .automation-text-container p {
        text-align: center;
    }

    .automation-text-container button {
        font-size: 20px;
        color: rgba(14,186,197);
        font-weight: 600;
        border: none;
        background: none;
    }
}



/* ABOUT SECTION */
.about-section {
    background-color: rgb(238,245,255);
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text-section {
    max-width: 80%;
}

.about-text-section h2 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}
.about-text-section p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
    max-width: 80%;
}

.grid-card {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transform: translateY(0);
    transition: .5s;
}
.grid-card:hover {
    transform: translateY(-15px);
}

.card-image-container {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 55px;
}

.card-image-container img {
    max-width: 100%;
    height: auto;
}
.card-text-container h3 {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
}
.card-text-container p {
    font-size: 16px;
}

@media only screen and (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .about-section {
        padding: 80px 20px;
    }
    .grid {
        grid-template-columns: 1fr;
    }
}


/* Testing */
.testing-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 30px;
    background-color: #fff;
    padding: 50px;
}
.testing-text-container {
    width: 60%;
    padding-top: 20px;
    height: 100%;
}

.testing-text-container h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 25px;
}

.testing-text-container p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.testing-text-container button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: rgba(14,186,197);
    font-weight: 600;
    border: none;
    background: none;
    cursor: pointer;
}

.testing-image-container {
    width: 100%;
    display: flex;
}
.testing-image-container img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 992px) {
    .testing-image-container {
        display: none;
    }

    .testing-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        padding-top: 20px;
        height: 100%;
    }

    .testing-text-container h2, .testing-text-container p {
        text-align: center;
    }

    .testing-text-container button {
        font-size: 20px;
        color: rgba(14,186,197);
        font-weight: 600;
        border: none;
        background: none;
    }
}


